*{
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;

}

#logo{
    display: block;
	position: relative;
    margin: 0 auto;
    padding-top: 200px;
}
.container{
    position: relative;
    width: 80%;
    min-height: 50px;
    background-color: #eeeeee;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: #eeeeee;
}

.label{
    position: relative;
    display: flex;
    justify-content: top;
    margin-top: 0px;
}

.search-bar{
    width: 120%;
}

.buttons{
    display: block;
    margin-top:0px;
    background-color: #eeeeee;
}
.button{

    background-color: #e1e1e1;
    border:1px solid #bfbfbf;
    color:#000000;
    font-size:0.9rem;
    padding: 1px 3px;
    margin:1px;
    outline:none;
}

.button:active{
    border:1px solid blue;
}
.button-subs{
    font-size: 0.9rem;
    text-align: center;
    background-color: #62b3aa;
}   

.box{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    width: 1600px;

}
#box1{
    text-align: center;
    background-color: #7ee5da;
    margin: 1px;
    position: relative;
    padding: 12px;
}
#box1 a{
    color: blue;
    text-align: center;
    background-color: #7ee5da;
}
#box1 p{
    text-align: center;
    background-color: #7ee5da;
}
#box2{
    text-align: center;
    background-color: #70ccc2;
    margin: 1px;
    padding: 6px;
}
#box2 a{
    background-color: #70ccc2;
    font-size: 0.8rem;
    color: blue;
}

#box3{
    text-align: center;
    background-color: #62b3aa;
    margin: 1px;    
}
.subs-form{
    font-size: 0.9rem;
    background-color: #62b3aa;
}
.subs-form a{
    color: blue;
    background-color: #62b3aa;
    margin-left: 8px;
    font-size: 0.9rem;
}

.button-subs input{
    text-align: center;
    background-color: #e1e1e1;
    border:1px solid #bfbfbf;
    font-size: 0.9rem;
    
}   

.copyright{
    margin: 20px;
    text-align: center;
}

#copyright{
    font-size: 0.8px;
}